.imgBx {
    width: 250%;
    height: 36%;
    overflow: hidden;
    position: absolute;
    left: 40vw;
    top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.imgBx img {
    object-fit: cover;
    height: 100%;
    position: relative;
    transition: 1s;
    aspect-ratio: 3/4;
    object-position: 100% 50%;
    display: block;
}

