@font-face {
    font-family: 'orbitron';
    src: url('../fonts/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
        url('../fonts/orbitron-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'space_mono';
    src: url('../fonts/spacemono-bold-webfont.woff2') format('woff2'),
        url('../fonts/spacemono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212129;
    overflow-x: hidden;
    min-width: 100vw;
    min-height: 100vh;
}

.homepage{
    background-color: #212129;
    display: flex;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: absolute;
}

.menu_icon {
    display: flex;
    flex-direction: column;
    row-gap: 0.95vh;
    position: absolute;
    right: 5vw;
    top: 3.1vh;
    align-items: flex-end;
    z-index: 4;
}

.menu_icon>.bar1,
.bar2,
.bar3 {
    width: 11.3vw;
    height: 0.75vh;
    background-color: #33323D;
    transition: 0.58s;
}

.menu_icon>.bar2 {
    width: 9.4vw;
}

.transitioned>.bar1 {
    -webkit-transform: rotate(-45deg) translate(-2.1vw, 2.2vw);
    transform: rotate(-45deg) translate(-2.1vw, 2.2vw);
    background-color: #565656;
}

.transitioned>.bar2 {
    opacity: 0;
}

.transitioned>.bar3 {
    -webkit-transform: rotate(45deg) translate(-2.4vw, -2.4vw);
    transform: rotate(45deg) translate(-2.4vw, -2.4vw);
    background-color: #565656;
}