.preloader {
    position: absolute;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 20;
    overflow: hidden;
}

.loader {
    object-fit: contain;
}